* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 20px;
}

h2  {
    text-align: center;
    font-size: 2.5rem;
}

p {
   font-size: 1.2rem;
}

section { 
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh  ;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}





